{% extends '@views/app.twig' %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            {% include '@partials/sidebar.twig' %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block dashboardpage %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}