{% extends '@dashboard/dashboard.twig' %}

{% block dashboardpage %}
    <h1 class="page-header"> <i class="fa fa-bar-chart" aria-hidden="true"></i> Übersicht</h1>

    <div class="row placeholders">
        <div class="col-xs-8 col-sm-8 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 width="400" height="400" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Verbrauch</h4>
            <span class="text-muted">2017</span>
        </div>
    </div>
{% endblock %}