{% extends '@dashboard/dashboard.twig' %}

{% block dashboardpage %}
    <h1 class="page-header"> <i class="fa fa-user-circle" aria-hidden="true"></i> Meine Daten </h1>

    <div class="row placeholders">

        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>Email</h4>
            <span class="text-muted">{{ auth.user.getEmail }}</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">

            <h4>CreatedAt</h4>
            <span class="text-muted">Something else</span>
        </div>
    </div>
{% endblock %}