{% extends '@dashboard/dashboard.twig' %}

{% block dashboardpage %}
    <h1 class="page-header"> <i class="fa fa-plug" aria-hidden="true"></i> Zählerstand eintragen </h1>

    <div class="row placeholders">

    </div>
{% endblock %}