<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Greenworld Energy </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ base_url() }}/public/css/app.css">
</head>

<body>

<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Greenworld Energys</a>
    </div>
</div>

<div class = "container">
    <div class="jumbotron">
        <div class="page-header">
            <p><br></p>
            <h1>Seite nicht erreichbar! :(</h1>
            <p>
                Sehr geehrter Kunde, sehr geehrte Kundin,<br>
                auf Grund technischer Probleme ist die Nutzung dieser Plattform aktuell nicht möglich.<br>
                Unsere Techniker arbeiten bereits an einer Lösung, so dass der Dienst bald wieder für Sie
                bereitsteht.<br>
                Wir danken für Ihr Verständnis.<br>
                <br>
                Bei weiteren Fragen und dringenden Angelegenheiten, wenden Sie sich bitte telefonisch an unseren
                Kundenservice. Erreichbar Mo-So von 07:00 - 22:00 Uhr unter der folgenden Nummer:<br>
                <br>
                012/3456789
            </p>
        </div>
    </div>
</div>
</body>
</html>